<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Detalhes Empresa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div id="divDetalhes">
  <div class="row" >
    <ion-span class="col" id="teste1" >Nome da Empresa:</ion-span>
    <ion-input [(ngModel)]="teste1" id="inputTeste1" style="width: 5%;"></ion-input>
  </div>
  <div class="row">
    <ion-span class="col" id="teste2">Descrição:</ion-span>
    <ion-input [(ngModel)]="teste2" id="inputTeste2" style="width: 5%;"></ion-input>
  </div>
  <div class="row">
    <ion-span class="col" id="teste3">Nota Geral:</ion-span>
    <ion-input [(ngModel)]="teste3" id="inputTeste3" style="width: 5%;"></ion-input>
  </div>
  <div class="row">
    <ion-span class="col" id="teste4">Alcool em Gel no ambiente:</ion-span>
    <ion-input [(ngModel)]="teste4" id="inputTeste4" style="width: 5%;"></ion-input>
  </div>
  <div class="row">
    <ion-span class="col" id="teste5">Funcionarios utilizam mascaras:</ion-span>
    <ion-input [(ngModel)]="teste5" id="inputTeste5" style="width: 5%;"></ion-input>
  </div>
  <div class="row">
    <ion-span class="col" id="teste6">Clientes utilizam mascaras:</ion-span>
    <ion-input [(ngModel)]="teste6" id="inputTeste6" style="width: 5%;"></ion-input>
  </div>
  <div class="row">
    <ion-span class="col" id="teste7">Aglomeração no Recinto:</ion-span>
    <ion-input [(ngModel)]="teste7" id="inputTeste7" style="width: 5%;"></ion-input>
  </div>
  <div class="row">
    <ion-span class="col" id="teste8">Controle de Entrada:</ion-span>
    <ion-input [(ngModel)]="teste8" id="inputTeste8" style="width: 5%;"></ion-input>
  </div>
  <div class="row">
    <ion-span class="col" id="teste9">Limite de Cliente:</ion-span>
    <ion-input [(ngModel)]="teste9" id="inputTeste9" style="width: 5%;"></ion-input>
  </div>
  <div class="row">
    <ion-span class="col" id="teste10">Ambiente com Circulação de Ar:</ion-span>
    <ion-input [(ngModel)]="teste10" id="inputTeste10" style="width: 5%;"></ion-input>
  </div>
  <div class="row">
    <ion-span class="col" id="teste11">Higienização do Ambiente:</ion-span>
    <ion-input [(ngModel)]="teste11" id="inputTeste11" style="width: 5%;"></ion-input>
  </div>
</div>
  <button class="buttonGrid" (click)="habilitaPizza()" id="habPizza" >Avalie</button>
  <div class="row" id="PizzaRadio" *ngIf="this.isButtonVisible" > 
    <span style="margin-left: 1%;">Alcool em gel no ambiente:</span>
    <div style="margin-left: 1%;" class="row">
     <input  type="radio" value="1" name="gelAmbiente" [(ngModel)]="gelAmbiente"> Pessimo
     <input  type="radio" value="2" name="gelAmbiente" [(ngModel)]="gelAmbiente"> Ruim
     <input  type="radio" value="3" name="gelAmbiente" [(ngModel)]="gelAmbiente"> Regular
     <input  type="radio" value="4" name="gelAmbiente" [(ngModel)]="gelAmbiente"> Bom
     <input  type="radio" value="5" name="gelAmbiente" [(ngModel)]="gelAmbiente"> Excelente
    </div>
  </div>
  <div class="row" id="PizzaRadio" *ngIf="this.isButtonVisible" > 
    <span style="margin-left: 1%;">Funcionarios Mascaras:</span>
    <div style="margin-left: 1%;" class="row">
     <input  type="radio" value="1" name="funcMask" ngModel> Pessimo
     <input  type="radio" value="2" name="funcMask" ngModel> Ruim
     <input  type="radio" value="3" name="funcMask" ngModel> Regular
     <input  type="radio" value="4" name="funcMask" ngModel> Bom
     <input  type="radio" value="5" name="funcMask" ngModel> Excelente
    </div>
  </div>  <div class="row" id="PizzaRadio" *ngIf="this.isButtonVisible" > 
    <span style="margin-left: 1%;">Clientes Mascaras:</span>
    <div style="margin-left: 1%;" class="row">
     <input  type="radio" value="1" name="cliMask" ngModel> Pessimo
     <input  type="radio" value="2" name="cliMask" ngModel> Ruim
     <input  type="radio" value="3" name="cliMask" ngModel> Regular
     <input  type="radio" value="4" name="cliMask" ngModel> Bom
     <input  type="radio" value="5" name="cliMask" ngModel> Excelente
    </div>
  </div>  <div class="row" id="PizzaRadio" *ngIf="this.isButtonVisible" > 
    <span style="margin-left: 1%;">Aglomeração no Recinto:</span>
    <div style="margin-left: 1%;" class="row">
     <input  type="radio" value="1" name="agloRec" ngModel> Pessimo
     <input  type="radio" value="2" name="agloRec" ngModel> Ruim
     <input  type="radio" value="3" name="agloRec" ngModel> Regular
     <input  type="radio" value="4" name="agloRec" ngModel> Bom
     <input  type="radio" value="5" name="agloRec" ngModel> Excelente
    </div>
  </div>  <div class="row" id="PizzaRadio" *ngIf="this.isButtonVisible" > 
    <span style="margin-left: 1%;">Controle Entrada:</span>
    <div style="margin-left: 1%;" class="row">
     <input  type="radio" value="1" name="contrEntrada" ngModel> Pessimo
     <input  type="radio" value="2" name="contrEntrada" ngModel> Ruim
     <input  type="radio" value="3" name="contrEntrada" ngModel> Regular
     <input  type="radio" value="4" name="contrEntrada" ngModel> Bom
     <input  type="radio" value="5" name="contrEntrada" ngModel> Excelente
    </div>
  </div>  <div class="row" id="PizzaRadio" *ngIf="this.isButtonVisible" > 
    <span style="margin-left: 1%;">Limite Cliente:</span>
    <div style="margin-left: 1%;" class="row">
     <input  type="radio" value="1" name="limClient" ngModel> Pessimo
     <input  type="radio" value="2" name="limClient" ngModel> Ruim
     <input  type="radio" value="3" name="limClient" ngModel> Regular
     <input  type="radio" value="4" name="limClient" ngModel> Bom
     <input  type="radio" value="5" name="limClient" ngModel> Excelente
    </div>
  </div>  <div class="row" id="PizzaRadio" *ngIf="this.isButtonVisible" > 
    <span style="margin-left: 1%;">Ambiente com Circulção de Ar:</span>
    <div style="margin-left: 1%;" class="row">
     <input  type="radio" value="1" name="ambClient" ngModel> Pessimo
     <input  type="radio" value="2" name="ambClient" ngModel> Ruim
     <input  type="radio" value="3" name="ambClient" ngModel> Regular
     <input  type="radio" value="4" name="ambClient" ngModel> Bom
     <input  type="radio" value="5" name="ambClient" ngModel> Excelente
    </div>
  </div>  <div class="row" id="PizzaRadio" *ngIf="this.isButtonVisible" > 
    <span style="margin-left: 1%;">Higienização do Ambiente:</span>
    <div style="margin-left: 1%;" class="row">
     <input  type="radio" value="1" name="higAmbiente" ngModel> Pessimo
     <input  type="radio" value="2" name="higAmbiente" ngModel> Ruim
     <input  type="radio" value="3" name="higAmbiente" ngModel> Regular
     <input  type="radio" value="4" name="higAmbiente" ngModel> Bom
     <input  type="radio" value="5" name="higAmbiente" ngModel> Excelente
    </div>
  </div>
  <button (click)="avaliaEmpresa()" *ngIf="this.isButtonVisible">Avaliar Empresa</button>
</ion-content>
