.teste{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

ion-content {
    --background: #d0e4a8 url('../../assets/covidPNG.png') no-repeat center center / cover !important;
}