<ion-header>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</ion-header>

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <button class="navbar-toggler btn btn-outline-primary" type="button" data-toggle="collapse"
    data-target="#navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"
    (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarTogglerDemo02">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" style="color: lightgreen;" href="/principal">Principal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: lightgreen;" href="/info-covid">Sobre Covid</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: lightgreen;" href="/info-vacina">Sobre Vacina</a>
      </li>
      <li class="nav-item active" >
        <a class="nav-link" style="color: lightgreen;" href="#">Sair<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<ion-content>
    <span>Vacina Salva tudo</span>
</ion-content>
