<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Principal-Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
    <div class="row">
      <ion-item>
        <ion-label>Nome da Empresa:</ion-label>
        <ion-input id="NameEmpresa" [(ngModel)]="NameEmpresa"></ion-input>
      </ion-item>
    </div> 
    <div class="row"> 
      <ion-item>
         <ion-label>Cnpj da Empresa:</ion-label>
         <ion-input id="CnpjEmpresa" [(ngModel)]="CnpjEmpresa"></ion-input>
      </ion-item>
    </div>
    <div class="row">
      <ion-item>
         <ion-label>Endereço:</ion-label>
         <ion-input id="Endereco" [(ngModel)]="Endereco"></ion-input>
      </ion-item>
    </div>  
    <div class="column3">
      <button class="buttonPesq" (click)="pesquisar()">Pesquisar</button>
    </div>
    <div class="grid">
      <ion-list padding *ngFor="let item of items">
        <ion-item (click)="viewItem(item)">
          <p style="margin-left: 1%;">{{item.id}}</p>
          <p style="margin-left: 1%;">{{item.title}}</p>
          <p style="margin-left: 1%;">{{item.description}}</p>
            <ion-button class="buttonGrid" (click)="detalhesRowGrid(item)" >Teste</ion-button>
        </ion-item>
    </ion-list>
    </div>
</ion-content>
