<ion-header>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</ion-header>

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <button class="navbar-toggler btn btn-outline-primary" type="button" data-toggle="collapse"
    data-target="#navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"
    (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarTogglerDemo02">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" style="color: lightgreen;" href="/principal">Principal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: lightgreen;" href="/infoCovid">Sobre Covid</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: lightgreen;" href="/infoVacina">Sobre Vacina</a>
      </li>
      <li class="nav-item active" >
        <a class="nav-link" style="color: lightgreen;" href="#">Sair<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<ion-content>
 
    <div class="row" style="width: 100%;">
      <ion-item style="width: 100%;">
        <ion-label>Nome da Empresa:</ion-label>
        <ion-input style="width: 100%;" id="NameEmpresa" [(ngModel)]="NameEmpresa"></ion-input>
      </ion-item>
    </div> 
    <div class="row"> 
      <ion-item style="width: 100%;">
         <ion-label>Cnpj da Empresa:</ion-label>
         <ion-input id="CnpjEmpresa" [(ngModel)]="CnpjEmpresa"></ion-input>
      </ion-item>
    </div>
    <div class="row">
      <ion-item style="width: 100%;">
         <ion-label>Endereço:</ion-label>
         <ion-input id="Endereco" [(ngModel)]="Endereco"></ion-input>
      </ion-item>
    </div>  
    <div class="column3">
      <button class="buttonPesq" (click)="pesquisar()">Pesquisar</button>
    </div>
    <div class="grid">
      <div class="descricao">
      <tr id="trGrid"  style="display: none; width: 100%;">
        <th style="margin-left: 1%; width: 5%;" colspan="3" >ID</th>
        <th style="margin-left: 2%; width: 20%;" colspan="3" >Nome Empresa</th>
        <th style="margin-left: 2%; width: 20%;" colspan="2" >Endereço</th>
        <th style="margin-left: 2%; width: 20%;" colspan="2" >Avaliação Geral</th>
        <th  style="margin-left: 2%; width: 20%;" colspan="2">Detalhes</th>
      </tr> 
    </div>
      <ion-list padding *ngFor="let item of items">
        <ion-item (click)="viewItem(item)">
          <p style="margin-left: 1%; width: 1%; font-size: 12px;">{{item.id}}</p>
          <p style="margin-left: 2.5%; width: 20%; font-size: 12px;">{{item.nome}}</p>
          <p style="margin-left: 4.5%; width: 20%; font-size: 12px;">{{item.endereco}}</p>
          <p style="margin-left: 5%; width: 20%; font-size: 12px;">{{item.avaliacao_geral}}</p>
            <button class="buttonGrid" (click)="detalhesRowGrid(item)" >Ver</button>
        </ion-item>
    </ion-list>
    </div>
</ion-content>
