<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
BRUNÃO BROSHAICARECADSDSD
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      <ion-label>Login</ion-label>
      <ion-input id="login" [(ngModel)]="login"></ion-input>
    </ion-item>
    <ion-input type="password" [(ngModel)]="senha"></ion-input>
    <ion-item>
      <ion-button (click)="getData()">Enter</ion-button>
    </ion-item>
    <ion-item>
      <ion-button (click)="goCad()">Cadastrar Usuario</ion-button>
    </ion-item>
  </div>
</ion-content>
