<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">
SADE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="row">
      <ion-item>
        <ion-label>Login</ion-label>
        <ion-input id="login" [(ngModel)]="login"></ion-input>
      </ion-item>
    </div>
    <div class="row">
      <ion-item>
        <ion-label>Senha</ion-label>
        <ion-input type="password" [(ngModel)]="senha"></ion-input>
      </ion-item>
    </div>
   <div class="row">
     <div class="col">
       <ion-item>
         <ion-button class="buttonVoltar" (click)="getData()">Acessar Conta</ion-button>
       </ion-item>
      </div>
     <div class="col">
       <ion-item>
         <ion-button class="buttonVoltar" (click)="goCad()">Cadastrar Usuario</ion-button>
       </ion-item>
      </div>
   </div>
  </div>
</ion-content>
