<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
BRUNÃO BROSHAICARECADSDSD
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      <ion-label>Login</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-input type="password" value="333"></ion-input>
    <ion-button>Entrar</ion-button>
  </div>
</ion-content>
