  ion-toolbar {
    --background: rgb(77, 185, 77);
    }

    .buttonUser{
        --background: rgb(27, 124, 27);
        margin-left: auto;
        margin-right: auto;
        display: block !important;
    }

    .buttonVoltar{
        --background: rgb(27, 124, 27);
        margin-left: auto;
        display: block !important;
    }